---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<div class="blog-hero">

<strong>Air Traffic Control, Autonomy, and the Physics of the Sky</strong>

<p>Air Traffic Control is one of the most complex control systems ever built; balancing safety, efficiency, uncertainty, and human decision-making at a global scale.  
This blog explores modern and emerging approaches to airspace management, from classical ATC principles to physics-inspired models, reinforcement learning, and autonomous conflict resolution for the future of aviation.
</p>

</div>


{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
